*.uf2
*.map
build/
.west/
zephyr/
!zephyr/module.yml
modules/
zmk-dongle-display/
zmk-nice-oled/
.venv/
.DS_Store
node_modules/
*.log
.cache/
.tmp/
**/.tmp/
**/build/zmk/
zmk/
mario-peripheral-animation/
